*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #3388cc, #33cc88);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.app {
    position: relative;
    width: 100%;
    max-width: 320px;
    background-color: #FFF;
    border-radius: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.app:after {
    content:'';
    display: block;
    padding-top: calc(100% / (3/4));
}

.calculator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #33CC88;
    padding: 10px 15px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
}

h1 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
} 

main {
    flex: 1 1 100%;
    overflow-y: scroll;
    padding: 20px 15px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
} 

.pre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: #212121;
    font-size: 18px;
    border-bottom: 3px solid #33CC88;
    background: #EEE;
    border-radius: 8px 0px 0px 0px;
}

input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 3px solid #33CC88;
    color: #212121;
    font-size: 18px;
}

input::placeholder {
    color: #666;
    font-size: 14px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: block;
    width: 100%;
    border-bottom: 3px solid #33CC88;
    border-radius: 0px;
    color: #212121;
    font-size: 16px;
    padding: 10px 15px;
}

.tip-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    color: #212121;
    font-size: 18px;
    margin-bottom: 15px;
}

.tip {
    padding: 15px 25px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom right, #3388CC, #33CC88);
    color: #FFF;
}

footer {
    box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.2);
}

button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    appearance: none;
    border: none;
    outline: none;
    background-image: linear-gradient(to bottom right, #3388CC, #33CC88);
   
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}